:root{
    --background: #090E11;
    --primary:#2A2F32;
    --divider: #3C4247;
    --contactBackground: #131C21;
    --iconColor: #A9ABAD;
    --primaryTextColor: #D8D9DA;
    --secondaryTextColor: #919497;
    --primaryChatsColor: #056162;
    --secondaryChatColor: #262D31;
    --searchBarColor: #323739;
    --searchContentColor:#64696B;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--searchContentColor);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--searchContentColor);
  }
body{
    font-family: Helvetica, Sans-Serif;
    background-color:var(--background);
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
}
.dividerColumn{
    background-color: var(--divider) !important;
    width: 1px !important;
}

.dividerRow{
    background-color: var(--divider) !important;
    height: 1px !important;
}
.container{
    height: 645px;
    margin-top: 5px;
    background-color: var(--primary);
    display: flex;
}

/*Contact list css*/
.contactListContainer{
    width: 285px;
    background-color: var(--primary);
}

.topBar{
    height: 26px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.topIcons{
    padding-top: 4px;
    display: flex;
}
.margin-icon{
    margin-right: 18px;
}
/*icons*/
.Icons{
  color: var(--iconColor);
}



.searchBar{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--contactBackground);
}
.search{
    border-radius: 20px;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    background-color: var(--searchBarColor);
}
.search input{
    border: none;
    background-color:transparent;
    margin-left: 10px;
    font-size: 10px !important;
    outline: none;
    color: var(--primaryTextColor);
}
.Icons-search{
    color: var(--searchContentColor);
}

/*chatsList*/
.chatsList{
    height: 568px;
    width: 285px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--contactBackground);
}

/*contactCards*/
.contactCardsContainer{
    width: 285px;
    padding-left: 10px;
    padding-left: 10px;
    padding-top: 14px;
}

.contactCard{
    display: flex;
    justify-content: start;
    align-items: center;
}

.cardTexts{
    width: 215px;
    background-color: transparent;
    margin-left: 12px;
}
.cardHeading{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.cardTime{
    min-width: 50px;
    font-size: 8px !important;
    padding-left: 5px;
    text-align: end;
    color: var(--secondaryTextColor);
}
.contactName{
    font-size: 12px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    color: var(--primaryTextColor);
}
.contactText{
    min-height: 10px;
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    color: var(--secondaryTextColor);
}

/*Chats Container*/
.chatsContainer{
    width: 640px;
    background-color: var(--primary);
}
.titleChat{
    margin-top: 5.5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--primaryTextColor);
}
.chatsSection{
    width: 640px;
    height: 565px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url('./images/whatsappBackground.jpg');
}

.bottomTextBox{
    background-color:transparent;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
}
.margin-icon-chat{
    margin-left: 8px;
    margin-top: 6px;
}
.TypeBox{
   margin-left: 10px;
   border-radius: 20px;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: var(--searchBarColor);
}
.TypeBox input{
    width:500px;
    outline: none;
    border: none;
    font-size: 12px;
    color: var(--primaryTextColor);
    background-color:transparent;
 }